@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-television:before {
	content: "\e601";
}
.icon-slideshare:before {
	content: "\e602";
}
.icon-pin-location:before {
	content: "\e603";
}
.icon-phone-2:before {
	content: "\e604";
}
.icon-phone-1:before {
	content: "\e605";
}
.icon-micro:before {
	content: "\e606";
}
.icon-messages:before {
	content: "\e607";
}
.icon-linkedin:before {
	content: "\e608";
}
.icon-graph:before {
	content: "\e609";
}
.icon-google-plus:before {
	content: "\e60a";
}
.icon-fax:before {
	content: "\e60b";
}
.icon-facebook:before {
	content: "\e60c";
}
.icon-camera:before {
	content: "\e60d";
}
.icon-diams:before {
	content: "\e60e";
}
