/*********************
MENU TELEPHONE
*********************/

.btn-nav{
	position:absolute;
	display:none;
	right:0;
	width:60px;
	height:20px;
	padding:20px 3px;
	margin-right: 39%;
	margin-top: 25px;
}

.btn-nav .inner{
	background:#000;
	height:6px;
	border-radius:4px;
}

.btn-nav .inner:after,
.btn-nav .inner:before,
.btn-nav .inner{
	background:#000;
	height:3px;
	border-radius:2px;
}

.btn-nav .inner:after,
.btn-nav .inner:before{
	position:relative;
	content: '';
	display:block;
	transition: all .3s ease-in-out;
}

.btn-nav .inner:after {top:8px;}
.btn-nav .inner:before {top:-11px;}


.open .inner:after{
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .inner:before{
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open .inner:after, .open .inner:before{
	transition: 0.5s;
	top: 50%;
	margin-top: -4px;
	background: #333;
}

.open .inner{background:transparent;}

@media only screen and (min-width: 641px) and (max-width: 959px) {

	header > .container {
		width: 100%;
	}

	#hover-bar {
		display: none;
	}

	nav > ul > li {
		width: 152px;
	}

	#logo {
		position: static;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
	}

	#navigation {
        padding-left: 0;
        text-align: center;
       float: none;
    }
    	.menu {
		padding-left: 0;
	}
		a.current:after {
		display: none;
	}
}

@media only screen and (max-width:640px) {

	header > .container {
		width: 100%;
	}

	nav {
		margin-right: 0;
	}

	#hover-bar {
		display: none;
	}

	#logo {
		position: static;
		margin-top: 0;
		width: 62%;
		margin-left: 10px;
		float: left;
		max-width: 260px;
		background-size: 100%;
	}

    header { 
    	text-align: center;
     }

    #navigation {
        padding-left: 0;
        text-align: center;
        width: 100%;
    }

    #navigation li { 
    	width: 100%;
    	padding: 10px 0;
		border-bottom: solid 1px #696969;
    }

    #navigation li + li  { margin-left: 0; }
	header h1:before, header h1:after{display: none;}
	header h1{font-size:2em;}
	
	#navigation{display:none;}
	.btn-nav {
		cursor: pointer;
		display: block;
		position: static;
		float: right;
		margin-right: 15px;
		margin-top: 20px;
	}

	.first h2:after {
	width: auto;
	}

	.big-image p {
		padding-left: 0;
		padding-right: 0;
	}

	.second > .three.columns.radio-group {
			width: 50%;
			margin-top: 3em;
	}

	.big-image p {
		font-size: 1.5em;
	}

	.editorial {
		font-size: 1.5em;
		text-align: left;
	}

	h2 {
		font-size: 2.1em;
	}
}

@media only screen and (min-width: 641px) and (max-width: 768px) {

		/** {
			background-color: rgba(255, 54, 1, .267)
		}*/

		.first h2:after {
			width: auto;
		}

		.radio-item .front img {
			height: 9em;
			width: auto;
		}

		.second > .radio-group > .radio-item {
			height: 9em;
		}

}

@media only screen and (min-width: 641px) and (max-width: 767px) {
	
	.second > .three.columns.radio-group {
		width: 50%;
		margin-top: 4.5em;
	}

}


@media only screen and (min-width: 767px) and (max-width: 768px) {

	.second > .three.columns.radio-group {
		width: 47.3%;
		margin-top: 1em;
	}

	.face.back {
		left: 25%;
		width: 50%;
	}
}