body {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	background-image: url(../img/bg.jpg);
}

/** {
	background-color: rgba(59, 157, 221, .267)
}*/


/******************
Tools
******************/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/******************
HEADER
******************/

a {
	text-decoration: none;
}

header {
	border-bottom: 2px solid rgba(0,0,0,.2);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box;/* for IE9+, Firefox 4+, Opera, Chrome */
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

#logo {
	position: absolute;
	margin-top: -40px;
	height: 0;
	padding-top: 80px;
	overflow: hidden;
	top: 50%;
	display:block;
	background:url(../img/logo.png) center no-repeat;
	width: 260px;
	transition: 300ms all ease-in-out;

}

#logo:hover {
	opacity: .8;
	transition: 300ms all ease-in-out;
}

nav {
	float: right;
}

ul {
	padding: 0;
	margin: 0;
}

nav > ul > li {
	display: inline-block;
	text-align: center;
	padding-bottom: 2em;
	padding-top: 2em;
	width: 159px;
	margin:0;
	padding-left: 0;
	padding-right: 0;
}

nav li a {
	display: block;
	text-decoration: none;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	margin:0;
	padding:0;
	transition: 300ms all ease-in-out;
}

nav li a:hover {
	color: #666;
	transition: 300ms all ease-in-out;
}

#hover-bar {
	transition:all 250ms ease-out;
	height: 2px;
	padding: 0;
	background-color: none;
	top:4em;
	margin-bottom: -2px;
	margin-left: 0;
	width: 159px;
}


/******************
MAIN
******************/

a {
	color:#555;
	transition:all 250ms ease;
}

a:hover {
	color:#9a9a9a;
}

.first span {
	background-color:#9c3f7f;
	color:#fff;
	text-align: center;
	font-size: 2.5em;
	padding: 1em;
	display: block;
	width: 0.9em;
	height:0.9em;
	float: left;
	margin-right: 0.5em;
}

.first article div {
	float: left;
	margin-bottom: 1em;
}


.big-image {
	height: 100%;
	max-width: 100%;
	background-image: url(../img/main.jpg);
}

.big-image p {
	text-align: center;
	font-weight: 200;
	color: #fff;
	text-transform: uppercase;
	font-size: 3.75em;
	padding-left: 2em;
	padding-right: 2em;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.8em;
	letter-spacing: 0.1em;
	font-weight: 200;
	padding-top: 0;
	width: 100%;
}


.first h2:after {
	background-color:#9c3f7f;
	display: block;
	content: '';
	height: 3px;
	width:10.7em;
	margin-top:0.4em;
	margin-left: auto;
	margin-right: auto;
}

.second h2:after {
	background-color:#ff9900;
	display: block;
	margin-top: 0.5em;
	content: '';
	height: 3px;
	width:9em;
	margin-left: auto;
	margin-right: auto;
}

.third h2:after {
	background-color:#ff4833;
	display: block;
	margin-top: 0.5em;
	content: '';
	height: 3px;
	width:6em;
	margin-left: auto;
	margin-right: auto;
}

.fourth h2:after {
	background-color:#ffd03d;
	display: block;
	margin-top: 0.5em;
	content: '';
	height: 3px;
	width:6em;
	margin-left: auto;
	margin-right: auto;
}


.editorial {
	color: #9a9a9a;
	text-align: center;
	margin-top: 62px;
	font-size: 1.875em;
	font-weight: 300;
}

.first article h3 {
	font-size: 1.250em;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0.3em;
}

.first article p {
	margin-top: 0.1em;
	font-size: 1em;
	color: #818181;
	line-height: 1.5em;
}

.icon {
	margin-top: 85px;
}

.text p {
	font-size: 1em;
	color: #818181;
}

.text {
	margin-top: 73px;
}

.paralax-1 {
	background-image: url(../img/workplace.jpg);
	box-shadow:inset 0 0 50px 10px rgba(0,0,0,.5);
	height: 590px;
	margin-top: 85px;
	background-attachment: fixed;
}

.paralax-2 {
	background-image: url(../img/restroom.jpg);
	box-shadow:inset 0 0 50px 10px rgba(0,0,0,.5);
	height: 590px;
	margin-top: 85px;
	background-attachment: fixed;
}

.paralax-3 {
	background-image: url(../img/town.jpg);
	box-shadow:inset 0 0 50px 10px rgba(0,0,0,.5);
	height: 590px;
	margin-top: 85px;
	background-attachment: fixed;

}


/******************
PARTENAIRE
******************/
/*
.bureau_radio, .forum, .tsf_jazz, .latina, .kiss_fm, .radio_isa {
	margin-left: 34px !important;
}

@media (max-width: 768px) {
	.bureau_radio, .forum, .tsf_jazz, .latina, .kiss_fm, .radio_isa {margin-left: 10px !important;}
}

.bureau_radio, .lagardere {background-size: contain;}

@media (max-width: 768px) {
	.bureau_radio, .lagardere {background-size: auto;}
}

.bureau_radio {background-image: url(../img/bureau_radio.jpg);}
.radio-classique {background-image: url(../img/radio-classique.jpg);}
.nrj {background-image: url(../img/nrj.jpg);}
.lagardere {background-image: url(../img/lagardere.jpg);}
.fip {background-image: url(../img/fip.jpg);	}
.forum {background-image: url(../img/forum.jpg);}
.rfi {background-image: url(../img/rfi.jpg);}
.europe-1 {background-image: url(../img/europe1.jpg);}
.le_mouv {background-image: url(../img/le_mouv.jpg);}
.france_inter {background-image: url(../img/france_inter.jpg);}
.tsf_jazz {background-image: url(../img/tsf_jazz.jpg);}
.rfm {background-image: url(../img/rfm.jpg);}
.virgin {background-image: url(../img/virgin.jpg);}
.fg_radio {background-image: url(../img/fg_radio.jpg);}
.ado {background-image: url(../img/ado.jpg);}
.latina {background-image: url(../img/latina.jpg);}
.oui_fm {background-image: url(../img/oui_fm.jpg);}
.wit {background-image: url(../img/wit.jpg);}
.vibration {background-image: url(../img/vibration.jpg);}
.voltage {background-image: url(../img/voltage.jpg);}
.kiss_fm {background-image: url(../img/kiss_fm.jpg);}
.contact_radio {background-image: url(../img/contact.jpg);}
.radio_star {background-image: url(../img/radio_star.jpg);}
.trace_fm {background-image: url(../img/trace_fm.jpg);}
.tropiques {background-image: url(../img/tropiques.jpg);}
.radio_isa {background-image: url(../img/radio_isa.jpg);}
.mosaique {background-image: url(../img/mosaique.jpg);}
.rtbf {background-image: url(../img/rtbf.jpg);}
.power_tork {background-image: url(../img/power_tork.jpg);}

.bureau_radio, .radio-classique, .nrj, .lagardere, .fip, .power_tork, .rtbf, .mosaique, .radio_isa, .tropiques, .trace_fm, .radio_star, .contact_radio, .kiss_fm, .voltage, .vibration, .wit, .oui_fm, .latina, .ado, .fg_radio, .virgin, .rfm, .tsf_jazz, .france_inter, .le_mouv, .europe-1, .rfi, .forum {
	height: 122px;
	cursor: default;
	background-repeat: no-repeat;
	background-position: center;
}
 */



/*FLIP RADIO*/

.radio-group {
	perspective: 1000;
	float: left;
	width: 100%;
	height: 5em;
	margin-bottom: 4em;
	text-align: center;
}

.radio-group:hover .radio-item {
	-webkit-transform: rotateY(180deg);
}

.radio-item {
	width:100%;
	height: 7em;
    -webkit-transform-style: preserve-3d;
    transition: all 650ms ease-out;
}

.radio-item .front img {
	height:60%;
	width: 60%;
	height: auto;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  font-weight: 300;
}

.front {
	cursor: pointer;
}


.face.back {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: rotateY(180deg);
  -webki-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.3em 1em 0em 1em;
  color: #fff;
  font-size: 0.95em;
  background-color: #ff9900;
  font-style: italic;
  text-align: center;
  margin:0;
}

.back .signature {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	margin:0;
	font-size: 0.8em;
	font-style: normal;
}


.back .logo {
	position: absolute;
	bottom: 0.4em;
	left: 0.5em;
	margin:0;
	font-size: 0.8em;
}


.second > .resume {
	font-size: 1.875em;
	color: #9a9a9a;
	text-align: center;
	margin-top: 100px;
}


/*PAS flip RADIO MARCHE PAS PUTAIN DE BORDEL*/
/*
.radio-group {
	float: left;
	margin-bottom: 4em;
	text-align: center;
}

.radio-groupe:hover .back {
	margin-top: 0em;
	opacity: 1;
	transition: all 400ms ease;
}

.radio-groupe:hover .front {
	top: -7em;
	opacity: 0;
	transition: all 400ms ease;
}

.radio-item {
	width:100%;
	height: 7em;
}


.front {
	position: absolute;
	height: 7em;
	cursor: pointer;
}

.radio-item .front img {
	height:60%;
	width: 60%;
	height: auto;
}

.back {
	z-index: 150;
  font-weight: 300;
  height: 7em;
  padding: 0.3em 1em 0em 1em;
  color: #fff;
  font-size: 0.95em;
  background-color: #ff9900;
  font-style: italic;
  text-align: center;
  margin-top:7em;
  opacity: 0;
}

.back .signature {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	margin:0;
	font-size: 0.8em;
	font-style: normal;
}


.back .logo {
	position: absolute;
	bottom: 0.4em;
	left: 0.5em;
	margin:0;
	font-size: 0.8em;
}


.second > .resume {
	font-size: 1.875em;
	color: #9a9a9a;
	text-align: center;
	margin-top: 100px;
}

/******************
EQUIPES
******************/


.third {
	text-align: center;
}

.third .four {
	cursor: pointer;
	opacity: 0.7;
    filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	transition:all 250ms ease;
}

.third img {
	max-width: 100%;	
}

.four figure figcaption {
	color: #ff4833;
	font-size: 1.125em;
	margin-top: 1em;
	font-weight: 500;
}

.third figure + p {
	font-weight: 500;
}

.third > .editorial {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: 300;
}

.description {
	display: none;
}

.description .row {
	margin-bottom: 1em;
}


.description img,
.description figcaption {
	float: left;
	margin-bottom: 1em;
}


.description figcaption {
	text-align: left;
	color: #ff4833;
	font-size: 1.125em;
	font-weight: 500;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 0.7em;
	padding: 0;
}

.description .six p {
	font-weight: 400;
	text-align: left;
	padding: 0.75em;
	float: left;
	margin: 0;
}

.description .ten {
	border-left: 1px solid #c5c5c5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.description .ten p {
	font-weight: 400;
	text-align: left;
	margin-left: 2em;
	float:left;
	line-height: 1.5em;
}

.description .row > figure + p {
	margin-left: 1em;
	padding: 0;
	font-weight: 500;
}

.description span {
	background-color: #ff4833;
	color: #fff;
	text-align: center;
	font-size: 1.8em;
	float: left;
	padding-top:0.25em;
	padding-bottom:0.25em;
	width: 1.5em;
}




/*CONTACT*/

form {
	margin-bottom: 20px !important;
}

input,
textarea {
	-webkit-appearance: none;
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: 300;
	color: #333;
	border: 1px solid #b4b4b4;
	box-sizing:border-box;
	padding: 0.8em;
	border-radius: 0 !important;
}


input[type="submit"] {
	transition:all 250ms ease;
	width: 100%;
	-webkit-appearance:none;
	background-color: #ffc843;
	border: none;
	color: #fff;
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding: 1em;
	text-transform: uppercase;
	border-radius: 0 !important;
}

input[type="submit"]:hover {
	opacity: 0.8;
}


.contact-info .row {
	float: left;
	width:100%;
}

.contact-info .row p {
	padding-left: 10px;
	padding-top: 1.25em;
	margin: 0;
	float: left;
}

.contact-info .row:first-child p {
	padding-top: 0.75em;
}


.contact-info .row:last-child {
	margin-top: 30px;
}


.contact-info span {
	background-color: #ffc843;
	color: #fff;
	text-align: center;
	font-size: 1.8em;
	float: left;
	padding-top:0.5em;
	padding-bottom:0.5em;
	width: 2em;
}

.contact-info .row:last-child span{
	font-size: 1.5em;
	float: left;
	padding-top:0.25em;
	padding-bottom:0.25em;
	width: 1.5em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	margin-bottom: 0.1em;
	margin-top: 10px;
	transition: all 250ms ease;
}

.contact-info .row:last-child span:hover{
	opacity: 0.7;
}

/* Footer */

footer {
	margin-top: 50px;
	background-image: url(../img/bg-footer.jpg);
	width:100%;
	color:#fff;
	display: block;
}


.columns-fter {
	width: 30%;
	float: left;
	margin-right: 3%;
}

footer h5 {
	font-weight: 400;
	color:#818181;
	font-size: 0.9em;
	display: block;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #818181;
	margin-bottom: 1.5em;
	text-transform: uppercase;
}


footer p {
  font-size:0.8em;
  line-height: 1.25em;
  font-weight: 200;
  color:#fff;
}

footer .columns-fter>p a {
  font-size:1em;
  font-weight: 200;
  color:#fff !important;
}


footer #tweets  a, 
footer #tweets  a:visited {
  color:#4dafe2;
}

footer #tweets  a:hover {
  color:#4dafe2;
}

footer #tweets ul li {
  list-style:none;
  overflow:hidden;
  margin:5px;
}

footer #tweets .user, .tweet, .timePosted {
  float:left;

}

footer #tweets .user {
  display: none;
}

footer #tweets .tweet {
  width:100%;
  margin:0;
  padding-bottom: 10px;
}

footer #tweets .timePosted {
  display: none;
}

footer #tweets .user {
  clear:left;
}

footer #tweets .user a {
 width: 100px;
}

footer #tweets .user span span {
  width:100px;
  display:block;
  margin-top:10px;
}

footer #tweets .user img, .user a > span {
  float:left;
}

footer #tweets .interact {
  display: none;
}

footer #tweets .interact a {
  margin-left:5px;
  float:left;
}

footer #tweets .user a > span {
  margin-left:10px;
}

footer #tweets #linkage {
  position:fixed;
  top:0px;
  right:0px;
  background-color:#3d3d3d;
  color:#ffffff;
  text-decoration:none;
  padding:5px;
  width:10%;
  font-family:arial;
}


footer .bottom {
	color: #4b4b4b;
	padding: 1.2em;
	font-size: 0.8em;
	font-weight: 300;
	width: 100%;
	background-color: #000;
	text-align: center;
	margin-top: 25px;
}

